body{
    background-color: aqua;
    color:white;
}
h1{
    color:cadetblue;
}

img{
    border-radius: 50%;
}

#special {
    color: #5f9ea0;
}

#special2 {
color: #5f9ea0
background-color: #FFD700;
}

#special3 {
    color: #5f9ea0;
    background-color: #FFD700;
}